{% extends 'main.html' %}

{% block title %}
    User Login Page
{% endblock %}

{% block content %}

<div class="container mx-auto my-5 p-5 w-50 row">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-12 my-3">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="col-12 my-3">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="col-12 my-3 ">
            <button type="submit" class="btn btn-primary w-25 mx-auto rounded-3">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
